<h1>Do you want to upload another governing doc?</h1>
<%= form_for @organisation, url: organisation_governing_documents_question_path(@organisation), method: :put do |f| %>
  <%= render(ButtonComponent.new(element: 'input')) %>
<% end %>
