<h1>Number of Employees</h1>
<%= form_for @organisation, url: organisation_number_of_employees_path(@organisation), method: :put do |f| %>
  <%= render(ButtonComponent.new(element: 'input')) %>
<% end %>
